<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div class="main-container">
    <header>
      <div class="about">
        <div class="logo">
          <a href="#" class="logo__link">
            <img alt="logo">
          </a>
        </div>
        <div class="title">
          <h1>Студия депиляции и массажный кабинет в Бресте</h1>
        </div>
        <div class="location">
          <div class="map"></div>
          <div class="address">
            <span>Мы находимся в центре:</span>
            <span>г. Брест, ул. Гоголя, д.65</span>
          </div>
          <div class="location__link">
            <a href="https://yandex.by/maps/153/brest/?from=api-maps&ll=23.698098%2C52.093374&mode=usermaps&origin=jsapi_2_1_74&um=constructor%3A54c7d08d1331b9607b4624222e808722f9e360e1f493cbfb7b7fbfa143c0c156&z=18"
              target="_blank">смотреть на карте</a>
            <iframe class="map-window"
              src="https://yandex.ru/map-widget/v1/?um=constructor%3A54c7d08d1331b9607b4624222e808722f9e360e1f493cbfb7b7fbfa143c0c156&amp;source=constructor"
              width="600" height="600" frameborder="0"></iframe>
          </div>
        </div>
        <div class="contacts">
          <div class="contacts__phone">
            <span class="icon"></span>
            <span class="phone__label">Звоните, мы сейчас
              работаем</span>
            <a href="tel:+375333822499">+375 33 382 24 99</a>
          </div>
          <div class="contacts__schedule">
            <span class="icon"></span>
            <span class="week">Пн-Вс</span>
            <span class="time">9:00-21:00</span>
          </div>
        </div>
        <div class="order">
          <a href="#" class="order__link">Записаться онлайн</a>
        </div>
      </div>
      <nav class="navigation">
        <div class="burger">
          <span class="burger__icon"></span>
        </div>
        <ul class="hidden">
          <li class="navigation__item">
            <a href="" class="navigation__link 
                        active">Главная</a></li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Шугаринг и
              депиляция воском</a></li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Антицеллюлитный массаж</a></li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Классический массаж</a></li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Обучение</a></li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Косметика для мастеров</a></li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Статьи</a></li>
          <li class="navigation__item">
            <a href="" class="navigation__link">О студии</a></li>
          <li class="navigation__item">
            <a href="" class="navigation__link">Контакты</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="container">
        <div class="description">
          <p class="title">
            Хотите избавиться от
            <br>
            <strong>нежелательных волос</strong>
            <br>
            или нужен сеанс
            <br>
            <strong>антицеллюлитного массажа?</strong>
          </p>
          <ul class="features">
            <li class="features__item">депиляция воском и Шугаринг;</li>
            <li class="features__item">профессиональные сертифицированные мастера;</li>
            <li class="features__item">работаем и с женщинами, и с мужчинами;</li>
            <li class="features__item">результат уже после первой процедуры.</li>
          </ul>
          <div class="get-card">
            <button>
              <p class="button-text">
                ПОЛУЧИТЬ КАРТУ
                <br>
                КЛИЕНТА БЕСПЛАТНО
              </p>
              <img alt="branch">
            </button>
          </div>
        </div>
        <div class="info">
          <div class="img">
            <img id="info-card" alt="info-card">
          </div>
          <span class="icon-info"></span>
          <p class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore magni molestias
            obcaecati reiciendis nostrum dicta.</p>
        </div>
      </section>
    </main>
    <div class="order-modal">
      <span class="close-icon">&#215;</span>
      <p class="order-modal__title"><strong>Получите</strong> программу
        обучения</p>
      <p class="order-modal__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores aspernatur, consequuntur ea et
        mollitia nihil nisi quibusdam reiciendis sint!
      </p>
      <form action="#" class="order-modal__form">
        <select name="order-select" id="order-select">
          <option value="" disabled selected>Повышение квалификации</option>
          <option value="Фронтенд разработчик">Фронтенд разработчик</option>
          <option value="Джаваскриптизер">Джаваскриптизер</option>
          <option value="Старший джаваскриптизер">Старший джаваскриптизер</option>
          <option value="Начинающий джаваскриптизер">Начинающий джаваскриптизер</option>
        </select>
        <input type="text" id="name" placeholder="Ваше имя">
        <input type="text" id="phone" placeholder="Ваш номер телефона">
        <button type="submit" id="submit">Получить
          программу</button>
      </form>
    </div>
    <div class="submit-modal">
      <span class="close-icon">&#215;</span>
      <span class="done-icon"></span>
      <p class="title">Ваш заказ принят.</p>
      <p class="tip">Ожидайте звока</p>
    </div>
    <div class="girl-image">
      <img src="" alt="girl">
    </div>
  </div>
</body>

</html>