<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="main-container">
        <header>
            <div class="about">ABOUT</div>
            <nav class="navigation">
                <ul>
                    <li class="navigation__item">
                        <a href="" class="navigation__link">1</a></li>
                    <li class="navigation__item">
                        <a href="" class="navigation__link">2</a></li>
                    <li class="navigation__item">
                        <a href="" class="navigation__link">3</a></li>
                    <li class="navigation__item">
                        <a href="" class="navigation__link">4</a></li>
                    <li class="navigation__item">
                        <a href="" class="navigation__link">5</a></li>
                    <li class="navigation__item">
                        <a href="" class="navigation__link">6</a></li>
                    <li class="navigation__item">
                        <a href="" class="navigation__link">7</a></li>
                    <li class="navigation__item">
                        <a href="" class="navigation__link">8</a></li>
                    <li class="navigation__item">
                        <a href="" class="navigation__link">9</a></li>
                </ul>
            </nav>
        </header>
    </div>
</body>
</html>