@font-face {
  font-family: Appetite;
  src: url('../assets/fonts/Appetite_New.otf') format('otf');
}

@font-face {
  font-family: 'MUSEOSANSCYRL 200';
  src: url('../assets/fonts/MUSEOSANSCYRL_0.otf') format('otf');
}

@font-face {
  font-family: 'MUSEOSANSCYRL 300';
  src: url('../assets/fonts/MUSEOSANSCYRL_1.otf') format('otf');
}

@font-face {
  font-family: 'MUSEOSANSCYRL 400';
  src: url('../assets/fonts/MUSEOSANSCYRL_2.otf') format('otf');
}

@font-face {
  font-family: 'MUSEOSANSCYRL 500';
  src: url('../assets/fonts/MUSEOSANSCYRL_3.otf') format('otf');
}

@font-face {
  font-family: 'MUSEOSANSCYRL 700';
  src: url('../assets/fonts/MUSEOSANSCYRL.otf') format('otf');
}