@keyframes slide {
  from {
    height: 0;
  }
  
  to {
    height: 100%;
  }
}

@keyframes popup {
  0% {
    transform: translate(-50%, -200%);
  }
  
  50% {
    transform: translate(-50%, 40%);
  }

  50% {
    transform: translate(-50%, 70%);
  }

  100% {
    transform: translate(-50%, 40%);
  }
}