@import '../scss/colors';
@import '../scss/keyframes';

main {

  .container {
    position: relative;
    display: grid;
    grid: 1fr / repeat(2, 1fr);
    min-height: 600px;

    @media (max-width:991px) {
      grid: repeat(2, 1fr) / 1fr;
    }

    .image img {
      float: right;
      margin-right: -5rem;
      margin-bottom: -3rem;
    }

    .description {
      font-family: 'MUSEOSANSCYRL 200', Arial, sans-serif;
      max-width: 40vw;
      padding-left: 7rem;

      @media (max-width:991px) {
        max-width: unset;
        width: 90%;
      }

      @media (max-width:768px) {
        max-width: unset;
        width: 90%;
      }

      .title {
        font-size: 2.5rem;

        strong {
          font-family: 'MUSEOSANSCYRL 500', Arial, sans-serif;
        }
      }

      .features {

        .features__item {
          list-style: none;
          margin: 1.5rem 0;
          position: relative;

          &:before {
            content: '';
            display: block;
            width: 9px;
            height: 9px;
            background: $link;
            position: absolute;
            left: -1.8rem;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            border: 4px solid #FFF;
            box-shadow: 0 0 10px 1px lighten($link, 20%);
          }
        }
      }

      .get-card {
        position: relative;

        img {
          position: absolute;
          right: -6vw;
          top: 0;
          width: 17vw;
          max-width: 210px;

          @media (max-width:1110px) {
            right: -9vw;
            top: 1vw;
          }

          @media (max-width: 768px) {
            display: none;
          }
        }

        button {
          height: 60px;
          margin-top: 10px;
          width: 26vw;
          max-width: 345px;
          min-width: 250px;
          font-family: 'MUSEOSANSCYRL 500', Arial, sans-serif;
          cursor: pointer;
          transition: 200ms;
          text-transform: uppercase;
          color: #FFF;
          border: 1px solid transparent;
          border-radius: 50px;
          background: rgb(247, 180, 180);
          background: linear-gradient(180deg, rgba(247, 180, 180, 1) 0%, rgba(238, 147, 152, 1) 100%), 0 0 100px 10px lighten(#D6747B, 20%);
          box-shadow: 0 4px 0 0 #D6747B;
          position: relative;

          &:hover {
            transform: translateY(-3px);
            box-shadow: 0 6px 0 0 #D6747B;
          }

          &:hover.get-card:before {
            display: none;

          }

          &:active {
            transform: translateY(3px);
            box-shadow: 0 1px 0 0 #D6747B;
            outline: none;
          }

          &:focus {
            outline: none;
          }
        }

        .button-text {
          text-align: center;
          font-family: 'MUSEOSANSCYRL 500', Arial, sans-serif;
          font-size: 1rem;
          color: #FFF;
          position: absolute;
          top: -10%;
          left: 10%;

          @media (max-width:768px) {
            font-size: 0.825rem;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            min-width: 175px;
          }
        }
      }
    }
  }
}

.girl-image {
  position: absolute;
  width: 50vw;
  max-width: 700px;
  min-width: 650px;
  right: 0;
  bottom: 0;
  z-index: -2;

  img {
    width: 100%;
  }
}

.info {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms;

  @media (max-width: 1230px) {
    left: 60%;
  }

  @media (max-width:991px) {
    left: 15%;
    top: unset;
    bottom: -12%;
  }

  .icon-info {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    font-size: 2rem;
    background: rgb(247, 180, 180);
    background: linear-gradient(180deg, rgba(247, 180, 180, 1) 0%, rgba(238, 147, 152, 1) 100%);
    box-shadow: 3px 2px 1px 0 #D6747B, inset 0 0 3px 0 #D6747B;
    cursor: pointer;
    transition: 200ms;
    position: absolute;
    top: 170px;
    right: -10px;
    z-index: 5;

    &:after {
      content: '';
      display: block;
      width: 110%;
      height: 110%;
      background: linear-gradient(180deg, rgba(247, 180, 180, 1) 0%, rgba(238, 147, 152, 1) 100%);
      animation: pulse 1.2s ease infinite;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -3;
    }

    &:hover {
      transform: translateX(-1px);
      box-shadow: 4px 2px 1px 0 #D6747B, inset 0 0 3px 0 #D6747B;
    }

    &:active {
      transform: translateY(3px);
      box-shadow: 0 1px 0 0 #D6747B;
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }

  .info-text {
    position: absolute;
    top: -23%;
    right: -105%;
    z-index: 1;
    width: 130px;
    height: 180px;
    background: #FFF;
    font-family: 'MUSEOSANSCYRL 300', Arial, sans-serif;
    padding: 2rem;
    text-align: center;
    font-size: 1.1rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      top: -10px;
      right: -10px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.show-info {
  animation: scale 300ms linear;
  opacity: 1 !important;
}

.hide-info {
  opacity: 0 !important;
}